/*
tamplates 7 css 
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  background: #eedcbf;
}
header {
  text-align: center;
  background: url(../img/shape.png);
  background-size: 100% 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  padding-bottom: 70px;
}
header .heding h1 {
  color: #4e635c;
}
.logo {
  width: 150px;
}

/* main */
.content {
  display: flex;
  align-items: center;
  gap: 55px;
  padding: 20px 50px 70px 50px;
}
.icon img {
  width: 130px;
}
.desc h2 {
  font-size: 28px;
  color: #4e635c;
  margin-bottom: 10px;
}

.contant-wrapper .content:nth-child(even) {
  background: url(../img/shape.png);
  background-size: 100% 100%;
  flex-direction: row-reverse;
}

.desc p {
  font-size: 18px;
  color: #323f3a;
}

/* footer */
.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2%;
  padding: 30px 25px;
}
.footer-top img {
  width: 70px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.text-white {
  color: #323f3a !important;
}
.desc {
  font-size: 22px;
  color: gray;
  line-height: 125%;
}

.footer-bottom {
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
  color: #fff;
  background: #ccdc7f;
}
.footer-bottom .footer-logo {
  width: 150px;
}
